
@use "_variables" as *;

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;               
    padding: 10px 20px;                         
  }
  
  .main-nav-logo {
    margin-right: auto;  
  }
  
  .main-nav-logo-image {
    width: 150px;  
  }

  .Name-and-sign-out {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;              
    margin-left: auto;     
  }  
  .input-row {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    gap: 12px;
  }
  
  .large-input {
    height: 30px;
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .button-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center; 
    margin-top : 10px;
    margin-bottom : 40px;
  }
  
  
  
  .small-button {
    font-size: 0.85rem;
    padding: 4px 40px;
    border-radius: 4px;
    background-color: $color-8;
    border: 1px solid #ccc;
    cursor: pointer;
  } 
  
  p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }