@use "_variables" as *;

body {
  margin: 0;
  padding: 0;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-1;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  color: $color-2;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.sign-out {
  width: 20px;
}

.profil {
  width: 30px;
}

.sign-out-text {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
}

.sign-out-text:hover {
  opacity: 0.8;
}

.main {
  flex: 1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: $color-1;
}

.main-nav a.router-link-exact-active {
  color: $color-6;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.bg-dark {
  background-color: $background-color;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-4;
  background-color: $color-7;
  width: 80%;
  margin: 0 auto 2rem;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  flex-direction: row; 
}

.account-content-wrapper {
  flex: 1;
}

.account-content-wrapper.cta {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.transaction-button {
  display: block;
  width: 200px;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: $color-3;
  color: $background-color;
}


.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid $color-5;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}


