$font-family: Avenir, Helvetica, Arial, sans-serif;
$color-1: #2c3e50; 
$background-color: #ecf1f5;
$color-2: #202020;
$color-3:#647ca8; 
$color-4:black; 
$color-5:#ccc;
$color-6: #00bc77;
$color-7: white;
$color-8: #f0f0f0;
$color-9:#d1d5db;
$color-10:#fff;
$color-11:#333;
