@use "_variables" as *;

.account-transaction-general {
    background-color: $color-8;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
  }
  
  .csstransaction-title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  .csstransaction-amount {
    font-size: 40px;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .csstransaction-description {
    font-size: 20px;
    font-weight: normal;
  }
  
  