@use "_variables" as *;

.account-transaction-general {
    background-color: $color-8;
    padding: 100px 40px 10px 40px ;
    text-align: center;
  }

  .csstransaction-container {
    background-color: $color-7;
    padding: 20px 0px;
    text-align: center;
    border-top: 1px solid $color-9;
    border-bottom: 1px solid $color-9;
  }
  
  .csstransaction-title {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  .csstransaction-amount {
    font-size: 30px;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .csstransaction-description {
    font-size: 15px;
    font-weight: normal;
  }

.transaction-history {
    background-color: $color-7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    overflow-x: auto;
  }
  .transactions-table thead {
    background-color: $color-8; 
  }
  
  .transactions-table thead th {
    padding: 1rem;
    text-align: left;
    font-weight: 600;
  }
  
  .transaction-history h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: $color-11;
    border-bottom: 2px solid $color-9;
    padding-bottom: 0.5rem;
  }
  
  .transactions-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
  }
  
  
  .transactions-table th,
  .transactions-table td {
    padding: 0.75rem 1rem;
    text-align: left;
    border-bottom: 1px solid $color-9;
  }
  
  .details-box-text{
    font-weight: normal;
  }

  .fa-chevron-up,
.fa-chevron-down {
  margin-top: 18px;
  font-size: 16px; 
  color: $color-11;
}




  

  
  
  